/* Bootstrap NavBar */
.nav a {
  /*border-radius: 5px; - Designer's Note: Probably will use this on wide screen. */
  color: white;
  background-color: rgb(0, 174, 239);
  display: block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

/*.nav a:focus,
.nav a:hover,
.navbar-action button[type=submit]:hover {
  background-color: rgb(96, 225, 100);
}*/

.navbar-action .navbar-header,
.navbar-action .navbar-collapse {
  margin: 0;
}

#login {
  float: left;
}

.navbar-action .navbar-toggle {
  border: none;
}

.navbar-action .navbar-nav {
  margin-top: 0;
}

/* Prevent bg color from showing when dropdown is toggled. */
.navbar-action .open .dropdown-menu {
  margin-top: -5px;
  margin-bottom: -5px;
}

.navbar-action li {
  margin-bottom: -4px;
}

/*.navbar-action navbar-toggle:hover*/
.navbar-action li:hover {
  transition: 0.2s;
}

.navbar-nav-action {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-form-action {
  margin-top: 4px; /* Seems to even out the positioning of elements - probably due to -4px margin on li. */
  margin-bottom: 0;
}

.navbar-action .form-control,
.navbar-action .form-group {
  display: inline-block;

  /* Designer's Note: Keep an eye out for horizontal scrollbars! However, enacting this rule seems to disrupt the flow of the form fields and 'Submit'. */
  /*overflow-x: hidden;*/

  width: calc(100% - 80px);
}

.navbar-action button[type=submit] {
  background-color: rgb(255, 242, 0);
  color: black;
  position: relative;
  right: 30px; /* should move this next to form element, based on width: calcl() above. */
}
 /*.navbar-action button[type=submit]:hover {
   background-color: #ccc;

 }*/
