/* Forms with Bootstrap 'base' styles. */

form[role='search'] >.form-group > .form-control { /* Use single quotations. (https://google.github.io/styleguide/htmlcssguide.xml#CSS_Quotation_Marks) */

  display: inline-block; /* Centers 'Product Search' */
  max-width: 320px;
}

.form-action {
  text-align: left;
}

.form-action label {
  display: block; /* Keeps labels consistently above input fields. */
}

.form-action input,
.form-action textarea {
  width: 100%;
}

.form-action input {
  max-width: 480px;
}

.form-action textarea {
  max-width: 980px;
}

button[type='reset'] {
  margin-left: 0.5em;
}
