/* Custom overrides on Bootstrap .carousel. */
.carousel-action {
  margin: 0 calc(-0.5em - 10px); /* Makes .carousel go to 'edges' of <main>. This needs to be adjusted to coincide with main's padding. */
}

.carousel-indicators-action,
.carousel-caption-action {
  background: black;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;

  /* The inherit CSS-value causes the element for which it is specified to take the computed value of the property from its parent element. (https://developer.mozilla.org/en-US/docs/Web/CSS/inherit) */
  left: inherit;
}

.carousel-indicators-action {
  margin: 0 auto;

  bottom: 0; /* Override BS. */
}

.carousel-caption-action {
  padding: 4px;

  top: 0; /* Align precisely to top. */
  right: inherit;
  bottom: inherit;
}
