/* Bootstrap NavBar */

.nav a {
  color: white;
  background-color: rgb(0, 174, 239);
  display: block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

.navbar-action .navbar-header,
.navbar-action .navbar-collapse {
  margin: 0;
}

.navbar-action .navbar-toggle {
  border: none;
}

.navbar-action .navbar-nav {
  margin-top: 0;
}

.navbar-action .open .dropdown-menu {
  margin-top: -5px;
  margin-bottom: -5px;
}

.navbar-action li {
  margin-bottom: -4px;
}

.navbar-action li:hover {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.navbar-nav-action {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-form-action {
  margin-top: 4px; /* Seems to even out the positioning of elements - probably due to -4px margin on li. */
  margin-bottom: 0;
}

.navbar-action .form-control,
.navbar-action .form-group {
  display: inline-block;
  max-width: 550px;
}

.navbar-action button[type=submit] {
  background-color: rgb(255, 242, 0);
  color: black;

  position: relative;
  top: 2px; /* Just a nitpicky setting because 'Submit' didn't seem to align quite right without this, for some reason. */
}

@media (min-width: 768px) {
  .navbar-action > .container .navbar-brand {
    margin-left: 0; /* Override BS */
    padding-top: 8px;
  }
  .navbar-action .dropdown-menu {
    padding: 0;
    width: 100%;
  }

  .navbar-action .open .dropdown-menu {
    margin-top: 0;
  }

.navbar-nav-action {
  margin-left: 0;
}

  .navbar-action .navbar-nav-action > .open > a:hover,
  .navbar-action .navbar-nav-action > .open > a:focus,
  .navbar-action .navbar-nav-action > .active > a,
  .navbar-action ul > li > a {
    color: white;
  }

  .navbar-action .navbar-nav-action > .active > a,
  .navbar-action ul > li > a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .navbar-action ul > li:first-child > a,
  .navbar-nav-action ul > li:last-child > a {
    border-bottom-left-radius: 4px;
  }

  .navbar-action ul > li:last-child > a {
    border-bottom-right-radius: 4px;
  }

  .navbar-form-action {
    margin-top: 0;
    margin-left: 15px;
    padding-left: 0;
  }

  .navbar-action button[type=submit] {
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 0.5em; /* Some 'breathing room!' */
  }
}
