/* Forms with Bootstrap 'base' styles. */

.form-action {
  text-align: left;
}

.form-action label {
  display: block; /* Keeps labels consistently above input fields. */
}

.form-action input,
.form-action textarea {
  width: 100%;
}

.form-action input {
  max-width: 480px;
}

.form-action textarea {
  max-width: 980px;
}
